* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
body {
    background-image: url('Kiwi Birds and koru swirls on navy blue.jpg');
background-repeat: no-repeat;
background-size:cover;
}

header {
    color: black;
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
}

form {
    display: flex;
    margin: 20px;
    position: relative;
    top: 2rem;
    align-items: center;
    justify-content: flex-end;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

label {
    color: black;
    font-size: 1.5rem;
    font-weight: bolder;
    
}

input {
    font-size: 1.5rem;
    margin: 10px;
    padding: 10px;
    background-color: lightgrey;
}

select {
    font-size: 1.5rem;
    margin: 10px;
    background-color: lightgrey;
}

button {
    font-size: 1.5rem;
    margin: 10px;
    padding: 10px;
    background-color: lightgrey;
}
